.img-text-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  max-width: 845px;
  margin: 1.5rem auto 0;
}

.quotation {
  margin-left: 1.5rem;
}

.final-thoughts-section,
.progress-section,
.project-text-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  max-width: 860px;
  margin: 1rem auto;
}

.side-card-section,
.error-404 {
  background-color: var(--color-primary);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "card";
  max-width: 500px;
  margin: 0 auto;
}

.side-card-img {
  grid-area: card;
}

.side-card-content,
.error-404-content {
  grid-column: 1 / -1;
  grid-row: 1;
  padding: 0 2.5rem;
  margin: auto;
  max-width: 450px;
}

.txt-color {
  color: var(--color-primary-light);
}

.img-overlap-section{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  max-width: 900px;
  margin: 0 auto;
}

.work-experience {
  max-width: 980px;
  margin: 0 auto;
}

.exp-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.date {
  font-family: var(--font-secondary);
  font-size: 1.4rem;
}

.job-title {
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 1.1rem;
}

.corp-name {
  font-family: var(--font-secondary);
}

.card-grid-section {
  max-width: 460px;
  margin: 0 auto;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.card-grid-h2 {
  grid-column: 1 / -1;
  grid-row: 1;
}

.error-404 {
  background-color: var(--color-primary);
  margin: 2rem auto;
}

.error-404-content {
  color: var(--color-primary-light);
  padding: 1.5rem;
}

.error-404-link {
  color: var(--color-primary-light);
}

@media only screen and (min-width: 38em) {

  .final-thoughts-section,
  .progress-section {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  .about-title,
  .thoughts-title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.5rem;
    grid-template-areas:
      "img img img"
      "img img img"
      "img img img";
  }

  .about-img {
    grid-area: img;
    opacity: .25;
    max-width: 600px;
    margin: 0 auto;
  }

  .para1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
  }

  .para2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0;
  }

  .para3 {
    grid-column: 3 / -1;
    grid-row: 2 / 3;
    margin: 0;
  }

  .para4 {
    grid-column: 3 / -1;
    grid-row: 3 / -1;
    margin: 0;
  }

  .thoughts-img2 {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .progress-title {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }

  .progress-content {
    grid-column: 2 / -1;
    grid-row: 2;
  }

  .sketches1 {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .sketches2 {
    grid-column: 1 / 2;
    grid-row: 3;
  }

  .sketches3 {
    grid-column: 2 / -1;
    grid-row: 3;
  }

  .project-text-section {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    grid-column-gap: 2.5rem;
  }

  .text-desc-section {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .text-deliv-section {
    grid-column: 2 / -1;
    grid-row: 1;
  }

  .img-overlap-section{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .img1-overlap {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }

  .img2-overlap {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
  }

  .exp-list {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media only screen and (min-width: 910px) {

  .card-grid-section {
    max-width: 920px;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media only screen and (min-width: 960px) {

  .exp-list {
    grid-template-columns: repeat(3, 1fr);
  }

}
