.nav {
  background-color: var(--color-primary-light);
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1rem;
}

.page-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-nav,
.page-nav,
.footer-links,
.footer-links-social {
  margin-left: 0;
}

.header-nav li,
.page-nav li,
.footer-links li,
.footer-links-social li {
  list-style-type: none;
  list-style-image: none;
}

.header-nav a {
  padding: .5rem 3rem .6rem;
}

.header-nav a,
.page-nav a {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  text-decoration: none;
}

.header-nav a:hover,
.page-nav a:hover,
.header-nav a:focus,
.page-nav a:focus {
  color: var(--color-secondary-bright);
  text-decoration: underline;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  max-width: 25em;
  margin: 0 auto;
}

.footer-nav {
  margin: 1rem;
}

.footer-nav a {
  color: var(--color-primary-light);
  font-family: var(--font-secondary);
  text-decoration: none;
}

.footer-nav a:hover,
.footer-nav a:focus {
  color: var(--color-secondary-bright);
  text-decoration: underline;
}

.current a {
  color: var(--color-secondary-bright);
  text-decoration: underline;
  font-weight: bold;
}

.footer-links-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  max-width: 10em;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.social-icons {
  fill: var(--color-primary-light);
}

.social-links:hover .social-icons,
.social-links:focus .social-icons {
  fill: var(--color-secondary-bright);
}

.footer-nav a:focus,
.social-links:focus {
  outline: 3px solid var(--color-primary-light);
}
