<nav>
  <ul class="page-nav">
    <li>
      {% if page.previous.url %}
        <a href="{{site.baseurl}}{{page.previous.url}}">
          <i>
            <svg class="icon i-32"><use xlink:href="/images/icons.svg#previous" /></svg>
          </i>
          <span>Previous</span>
        </a>
      {% endif %}
    </li>

    <li>
      {% if page.next.url %}
        <a href="{{site.baseurl}}{{page.next.url}}">
          <span>Next</span>
          <i>
            <svg class="icon i-32"><use xlink:href="/images/icons.svg#next" /></svg>
          </i>
        </a>
      {% endif %}
    </li>
  </ul>
</nav>
