.banner {
  background-color: var(--color-primary-light);
  margin: 0;
  padding: .5rem 1.5rem 1rem;
}

.banner-main-content {
  margin: 0 auto;
  max-width: 28em;
}

.banner-content {
  margin: 0 auto;
  max-width: 25em;
}

.banner-h1 {
  text-align: center;
}

.banner-h2 {
  font-weight: bold;
}

.banner-p {
  font-family: var(--font-secondary);
  font-weight: normal;
}

.text-bld {
  font-weight: bold;
  font-style: normal;
}

.banner-action-content {
  margin: 0 auto;
  max-width: 20em;
}

.contact-btn {
  margin-bottom: 1rem;
  text-align: center;
}
